@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-montserrat);
	--shadow-custom-xl: 0 13px 73px 0 rgba(0, 0, 0, 0.13);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Montserrat, sans-serif;
}

.custom-container {
	margin: 0 auto;
	padding: 0px 32px 0px 32px;

	@media screen and (min-width: 1920px) {
		max-width: 1602px;
	}
}

.slider-for-card {
	& .swiper-wrapper {
		height: 500px !important;
		align-items: center;
	}

	& .swiper-slide {
		overflow: visible !important;
		height: 372px !important;
	}

	& .swiper-slide-active {
		transform: scaleY(1.1) scaleX(1) !important;
		transition: transform 0.3s ease;
	}

	& .swiper-pagination {
		margin-top: 32px;
	}
}

.swiper-pagination {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 96px;
}

.swiper-pagination-bullet {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	transition: all 0.3s;
	cursor: pointer;
	width: 12px;
	height: 12px;
	background-color: #3b82f6;
	border-radius: 9999px;
	opacity: 1;
	transition: all 0.3s;
}

.swiper-pagination-bullet-active {
	width: 24px;
	height: 8px;
	background-color: #ec4899;
	opacity: 1;
}

.swiper-pagination-bullet.is-next {
	width: 12px;
	height: 12px;
	background-color: #60a5fa;
	opacity: 1;
}

.swiper-pagination-bullet.is-far {
	width: 6px;
	height: 6px;
	background-color: #9ca3af;
	opacity: 1;
}
