@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-montserrat);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Montserrat, sans-serif;
}

.custom-container {
	margin: 0 auto;
	padding: 0px 32px 0px 32px;

	@media screen and (min-width: 1920px) {
		max-width: 1602px;
	}
}

.swiper-slide-active {
	transform: scaleY(1.1) scaleX(1.05);
	transition: transform 0.3s ease;
}
